:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --borde-img-perfil: #32a80e;
    font-size: 18px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    width: 100vw;
    display: flex;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

/* Oculta a barra de rolagem */
body::-webkit-scrollbar {
    display: none;
  }

aside{
    width: 29.5%;
    padding: 2.25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article{
    width: 100%;
    background-color: var(--bg-cards);
}

aside article{
    border-radius: 8%;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 0.5em;
}

.img-perfil {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: solid 3px var(--borde-img-perfil);
}

.redes-sociais {
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7em;
    padding-left: 10%;
}

.icon-container{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.redes-sociais .icon-container svg{
    width: 30px;
    height: 30px;
    margin-right: 10%;
}

.tecnologias{
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tecnologias table {
    border-spacing: 10px; 
    padding-left: 5%;
    padding-right: 5%;
}

.title-content{
    margin-bottom: 5%;
    padding-left: 7%;
}

.tecnologias th{
    gap: 2%;
}

.tecnologias td{
    text-align: center;
    font-size: 14px;
    padding: 0.2em;
    font-weight: 700;
    border-radius: 1em;
    background-color: var(--bg-techs);
    color: var(--body-bg-color);
}

.experiencias{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiencias ul{
    margin-left: 10%;
    font-size: 15px;
}

.experiencias li{
    font-weight: 700;
}

.experiencias p{
    margin-bottom: 5%;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

.educacao{
    height: 350px;
}

main{
    width: 70.5%;
    padding: 2.25%; 
}

.title-container {
    display: flex;
    align-items: center;
    background-color: var(--bg-cards);
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 20px ;
  }
  
  .title-section {
    margin-right: auto;
  }

.section-container{
    display: flex; 
    margin-bottom: 2%; 
    margin-top: 2%;
    gap: 2%;
}

section article{
    display: flex;
    border-radius: 13px;
    align-items: center;
    height: 50px;
}


